@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.title{
    padding: 15% 10%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/1502064183812-sunda-l.jpg);
    height: 100%; 
    color: white;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title h1{
    font-family: 'Amatic SC', cursive;
    font-size: 6vw;
}

.subtitle{
    padding-top: 5%;
    text-align: center;
}

.subtitle h2{
    font-size: 2vw;
}

.wadah{
    padding: 5% 10%;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.wadah div{
    flex: 0 50%;
    padding-bottom: 3%;
}

.wadah h4{
    font-size: 2vw;
}

.wadah p{
    font-size: 1.1vw;
    padding-left: 20%;
    padding-right: 20%;
}

.wadah img{
    width: 70%;
}

#nyil{
    width: 75%;
}

#Spasia{
    margin-top: 12%;
}