/*CONTENT*/
.Title {
    padding: 19% 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
}

.wadah {
    display: flex;
    padding: 2% 10% 5% 12%;
    flex-wrap: wrap;
}

.wadah h4 {
    font-size: 2vw;
}

.wadah p {
    font-size: 1.2vw;
}

.part {
    margin: 3%;
    background-color: transparent;
    width: 27%;
}

.part:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.parte {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.part:hover .parte {
    transform: rotateY(180deg);
}

.front,
.details {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.details {
    padding: 15%;
    background-color: blanchedalmond;
    color: black;
    transform: rotateY(180deg);
}

#darken {
    filter: brightness(80%);
}