@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    box-sizing: border-box;
}

/*Fonttype*/

body{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold; 
    margin: 0;
}

h2 {
    font-family: 'Montserrat',sans-serif;

}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

/* NavBar */
header {
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.logo{
    display: flex;
    z-index: 2;
    margin-right: auto;
    align-items: center;
    color: #6A6A6A;
}

.logo:hover {
    text-decoration: none;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.nav-items{
    margin-top: 15px;
    list-style: none;
}
 
.nav-items li{
    display: inline-block;
    padding:  0px 15px;
}

.nav-items a{
    font-family: 'Open Sans';
    color: #6A6A6A;
    text-decoration: none;
}

.nav-items a:hover{
    transition: all 0.3s ease;
    opacity: 0.7;
    color: #0094FF;
}

.nav-items .btn{
    display: inline-block;
    margin-top: -5px;
    color: #ffffff; 
    margin-left: 30px;
    padding: 10px 30px;
    background-color: #0094FF;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.nav-items .btn:hover{
    color: #ffffff;
}

/* menubutton */
.menu-btn{
    cursor:pointer;
    display: none;
    position: relative;
    z-index: 2;
    padding: 0px 10%;
}

.menu-btn div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.menu-btn:hover {
    transition: all 0.3s ease;
    opacity: 0.7;
}

/* CONTENT SECTION */
.Title{
    padding: 17% 10%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/trueBG.jpg);
    height: 100%; 
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.Title h1{
    font-family: 'Amatic SC', cursive;
    font-size: 6vw;
}

.Title h2{
    font-family: 'Amatic SC', cursive;
    
    font-size: 3vw;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 0px 25%;
}

.Title a{
    text-decoration: none;
    color: white;
}

/*Magic Button*/
.Title .Event{
    cursor:pointer;
}

.Title .Event:hover{
    color: #fcde7c;
}

/*Alternative Method from JS*/

/* .Tittle-active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/fakeBG.jpg);
}

.head-active{
    background-image: linear-gradient(rgba(255, 255, 255, 0.690), rgba(255, 255, 255, 0.690)),url(../images/fakeBG.jpg);
} */




/* FOOTER SECTION */
footer {
    padding: 80px 30px 50px 30px;
    color: white;
    background-color: rgb(37, 37, 37);
    text-align: center;
}

.photoright{
    width: 55px;
}

.copyright{
    text-align: center;
    font-size: 18px;
}



/*Menu Buton*/
@media (max-width: 942px){

    .menu-btn{
        display: block;
    }

    .nav-items {
        position: absolute;
        height: 40%;
        top: 0px;
        left: 0px;
        background-color: white;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in;
        /* fix gap menubar */
        z-index: 1;
        padding: 10% 0 0% 0;
        margin: 0;
    }

    /* fix gap menubar */
    .nav-items .btn{
        margin: 0;
    }

    .nav-items a{
        color: black;
    }
    

    .nav-items li {
        opacity: 0;
        width: 100%;
        text-align: center;
    }

    .nav-items li:hover {
       opacity: 0.7;
    }

    .nav-items li:nth-last-child(1) {
        margin-top: -10px;
    }

    .nav-active {
        transform: translateY(0%);
        box-shadow: 0 0 0 1000vmax rgba(0,0,0,.3);
    }
    

    @keyframes navitemsFade {
        from{
            opacity: 0;
            transform: translateY(5px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}



