/*CONTENT*/
.profil {
    margin-top: 1%;
    margin-left: 20%;
    display: flex;
    position: relative;
    text-align: center;
}

.profil img {
    background-color: #EDD5C2;
    padding: 10px 10px 30px 10px;
    width: 40%;
}

.profil .teksprofil {
    text-align: left;
    padding: 5%;
    background-color: white;
    width: 40%;
    position: absolute;
    top: 77%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.profil h1 {
    font-size: 3vw;
    font-weight: normal;
}

.profil h3 {
    font-size: 2vw;
    color: #b87c55;
    margin-top: 30px;
}

.profil h5 {
    font-size: 1.2vw;
    margin-top: 30px;
}

.wadah {
    padding: 12% 10% 5% 10%;
    justify-content: space-around;
    display: flex;
}

.wadah div {
    flex: 1;
    padding: 0 8%;
    border-right: 2px solid #EDD5C2;
}

.wadah div:last-child {
    border: none;
}

.wadah h4 {
    font-size: 1.8vw;
    margin-bottom: 10%;
}

.wadah h5,
.wadah li,
#indika {
    font-size: 1.1vw;
}

.wadah a {
    text-decoration: none;
    color: inherit;
}

.wadah a:hover {
    transition: all 0.3s ease;
    opacity: 0.7;
    color: #8f6244;
}

#Spasia,
.part2 h5 {
    margin-top: 10%;
}

#Divida {
    margin-top: 25%;
}

#indika {
    color: #d89365;
}


.part2 h5 {
    color: #8f6244;
}