.Title{
    padding: 15% 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/bg2.png);
}

.Title h1{
    font-family: 'Amatic SC', cursive;
    font-size: 6vw;
}

.wadah{
    padding: 10% 10%;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.wadah h4{
    font-size: 2vw;
}

.wadah p{
    font-size: 1.5vw;
}